ul.osx-dock {
display: inline-block;
height: 130px;
padding: 0 40px 0 0;
background: url(../img/osx-dock/dock-background-left.png) no-repeat right bottom;
overflow: hidden;
margin: 0 0 0 40px;
}
ul.osx-dock li {
display: block;
/*position: relative;*/
float: left;
width: 50px;
height: 50px;
margin: 60px 0 4px 0;
-webkit-transition: 0.15s linear;
-webkit-transition-property: -webkit-transform margin;
text-align: center;
}

ul.osx-dock li a {
  display: block;
  height: 50px;
  padding: 0 1px;
  margin: 0;
  -webkit-transition: 0.15s linear;
  -webkit-transition-property: -webkit-transform margin;
/*  -webkit-box-reflect: below 2px; -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));*/
}
 
ul.osx-dock li a img {
  width: 48px;
}
 
ul.osx-dock li:hover {
  margin-left: 9px; margin-right: 9px;
  z-index: 200;
}
 
ul.osx-dock li:hover a {
  -webkit-transform-origin: center bottom;
  -webkit-transform: scale(1.5);
}
 
ul.osx-dock li.nearby {
  margin-left: 6px; margin-right: 6px;
  z-index: 100;
}
 
ul.osx-dock li.nearby a {
  -webkit-transform-origin: center bottom;
  -webkit-transform: scale(1.25);
}
 
.divTooltipDock {
min-height: 20px;
opacity: 0.7;
position: absolute;
bottom: 85px;
display: none;
min-width: 100px;
font-size: 10px;
padding: 3px 6px;
-webkit-border-radius: 6px;
color: #050505;
line-height: 9px;
z-index: 999;
border: 1px solid rgba(0,0,0,0.5);
   border-radius: 2px 2px 2px 2px;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
ul.osx-dock li:hover div {
 display: block;
}
.divTooltipDock:before {
border-color: rgba(245, 245, 245, 0);
border-top-color: #f5f5f5;
border-width: 5px;
margin-left: -5px;
}
.divTooltipDock:after {
border-color: rgba(0, 0, 0, 0);
border-top-color: #000000;
border-width: 4px;
margin-left: -4px;
}
.divTooltipDock:after,  .divTooltipDock:before {
top: 100%;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

div#dockWrapper {
width: auto;
display: inline-block;
position: relative;
border-bottom: solid 2px rgba(255,255,255,.35);
line-height: 0;
z-index:99999;
}

#dockContainer, #dockContainer * {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
div#dockContainer {
position: fixed;
bottom: 24px;
height: 120px;
/*padding: 50px 0 0;*/
text-align: center;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
width: 100%;
line-height: 1;
z-index: 100;
}

div.cap.left {
position: absolute;
bottom: 0px;
left: 0px;
}
div.cap {
display: block;
height: 100px;
width: 40px;
background: url(../img/osx-dock/dock-background-left.png) bottom left no-repeat;
}


